// Color Preset
@import "presets";


a{
	color: $preset;
	&:hover{
		color: $preset-dark;
	}
}


// Button Styles
.btn-common {
    background: $preset;
    &:hover , &:focus {
    	background: $preset-dark !important;
    }
}

// Logo
.logo  {
    border: 3px solid $preset;
	h2 {
	    span {
	    	color: $preset;
	    }
	}
	&:hover {
		border: 3px solid $preset-dark; 

	}
	&:hover h2 span {
		color: $preset-dark;
	}
}

// Menu
.navbar-custom {
	.navbar-nav {
		li {
			&:hover a , &.active a {
				color: $preset;
				border-bottom: 3px solid $preset;
			}
		}
	}
}

.navbar-toggle {
    background: $preset;
    margin-top: 22px;
    .icon-bar {
    	background: #fff;
    }
}

// Hero Area
.hero-area {
	@include gredients;
	color: #fff;
}

.btn-buy {
    background: $preset;
}
.price {
    background: $preset;
}

  .product-carousel {
      .owl-nav [class*=owl-]:hover {
          background: $preset;
      }
}

.single-service {
    .media-left {
        .fa {
            border: 2px solid $preset;
        }
    }
    &:hover .media-left {
        .fa {
            @include gredients;
            color: #fff;
            border: none;;
        }
    }
}

// Footer

.social-icons {
    a {
        .fa {
            &:hover {
                @include gredients;
                
            }
        }
    }
}

// Page title Section
.page-title-setion.jumbotron {
    &:before {
        @include gredients;
    }
}


// Section
.section-text ul li .fa {
    color: $preset;
}

// Contact Us
#contactForm {
    .form-control {
        &:focus {
            color: $preset;
            border: 1px solid $preset;
        }
    }
}
.single-sidebar p .fa {
    color: $preset;
}

