.pace .pace-progress {background: #c1272d;}
.bigIcon,.socialList li a:hover{color: #c1272d;}
.btn-new,.downloadNumber{background: #c1272d}
.btn-new:hover,.btn-new:focus{background: #c1272d}
#share{background-color: #c1272d;}