// Static Image hero section
.hero-section {
    background-color: $green-color;
    width: 100%;
    background-size: cover;
    position: relative;
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
    }
    @include display-middle(500px);
    .hero-heading {
        font-weight: 800;
        font-size: 72px;
        color: #fff;
        line-height: 75px;
    }

    .hero-sub-heading {
        font-size: 36px;
        font-weight: 400;
        color: #fff;
        margin-top: 46px;
    }
}

// Hero Slider Section
.hero-slider-section {
    @include display-middle(800px);
    .single-hero-slider {
        position: relative;
        width: 100%;
        background-position: center;
        background-size: cover;
            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba( 0, 0, 0, 0.6 );
            }
    }
    .owl-buttons {
        div {
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            background: $primary-color;
            color: #fff;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
        .owl-prev {
            left: 10%;
        }
        .owl-next {
            left: auto;
            right: 10%;
        }
    }
}