// Testimonial Section Styles
.testimonial-section {
    position: relative;
    width: 100%;
    @include display-middle(450px);
    &:before {
        background-color: #fff;
        @include diagonal-style;
        transform-origin: left top;
        transform: skewY(-2deg);
    }
}
.single-testimonial {
    position: relative;
    width: 100%;
    &::before {
        position: absolute;
        content: "";
        font-family: 'fontawesome';
        width: 100%;
        height: 100%;
        color: #a2a4a5;
        top: -15px;
        left: -78px;
        font-size: 48px;
    }
    &::after {
        position: absolute;
        content: "";
        font-family: 'fontawesome';
        width: 100%;
        height: 100%;
        color: #a2a4a5;
        top: -15px;
        left: -78px;
        font-size: 48px;
    }
    .testimonial-image {
        padding-right: 25px;
    }
    .testimonial-content {
        p {
            color: #a2a4a5;
        }
    }
    .client-info {
        margin-top: 30px;
        h2 {
            font-weight: 700;
            font-size: 18px;
            text-transform: capitalize;
            color: #a2a4a5;
            margin-bottom: 5px;
        }
        span {
            color: #a2a4a5;
            font-size: 14px;
        }
    }
}