@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700i,800,800i';
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #737373;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #3fc6f6; }
  a:hover {
    text-decoration: none; }
  a a:focus {
    outline: none; }

.btn-consult {
  color: #fff;
  text-transform: uppercase;
  background-color: #3fc6f6;
  border-radius: 3px;
  border: 0;
  padding: 10px 12px; }
  .btn-consult:hover, .btn-consult:focus {
    color: #fff;
    opacity: 0.7; }

.view-top {
  z-index: 999; }

.section-dark {
  background-color: #ebebeb !important; }

.section-title h2 {
  color: #737373;
  font-size: 30px;
  font-weight: 800; }

.text-white {
  color: #fff !important; }

.text-off-white {
  color: #a2a4a5 !important; }

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none; }
  a.back-to-top i {
    display: block;
    font-size: 18px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }
  a.back-to-top:hover, a.back-to-top:focus {
    text-decoration: none; }

#loader {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999; }

.square-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px; }

.square-spin img {
  max-width: 64px; }

.section-padding {
  padding: 100px 0; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mt-100 {
  margin-top: 100px; }

.mt-200 {
  margin-top: 200px; }

.no-padding {
  padding: 0 !important; }

.padding-left-none {
  padding-left: 0; }

.padding-right-none {
  padding-right: 0; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.logo {
  height: auto;
  padding: 20px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .logo img {
    margin-right: 20px;
    display: inline-block;
    margin-top: -36px; }
  .logo p {
    font-weight: 700;
    font-size: 24px;
    color: #6d6e71;
    display: inline-block;
    line-height: 28px; }
  .logo:hover {
    opacity: 0.7; }

.navbar-custom {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  background-color: #dad9d9;
  height: 100px; }
  .navbar-custom .navbar-nav li a {
    color: #939598;
    font-size: 18px;
    background: none;
    padding: 40px 18px; }
    .navbar-custom .navbar-nav li a:hover, .navbar-custom .navbar-nav li a:focus {
      background: #acacac;
      color: #dad9d9; }
  .navbar-custom .navbar-nav .submenu-pannel {
    display: none;
    background-color: #acacac;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -webkit-animation: 0.4s ease 0s normal none 1 running fadeInUpMenu;
    animation: 0.4s ease 0s normal none 1 running fadeInUpMenu;
    border-radius: 0;
    width: 235px; }
    .navbar-custom .navbar-nav .submenu-pannel a {
      color: #dad9d9;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      padding: 17px 20px;
      transition: 0.3s all ease-in-out;
      -webkit-transition: 0.3s all ease-in-out;
      -moz-transition: 0.3s all ease-in-out;
      -o-transition: 0.3s all ease-in-out;
      -ms-transition: 0.3s all ease-in-out; }
  .navbar-custom .navbar-nav .submenu:hover .submenu-pannel {
    display: block;
    position: absolute;
    border-top: 0;
    top: 100%;
    left: 0;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -webkit-animation: 0.4s ease 0s normal none 1 running fadeInUpMenu;
    animation: 0.4s ease 0s normal none 1 running fadeInUpMenu; }

@-webkit-keyframes fadeInUpMenu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes fadeInUpMenu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu; }

.hero-section {
  background-color: #79B137;
  width: 100%;
  background-size: cover;
  position: relative; }
  .hero-section:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: ""; }
  .hero-section .display-table {
    height: 500px;
    display: table;
    width: 100%; }
    .hero-section .display-table .display-table-cell {
      display: table-cell;
      vertical-align: middle; }
  .hero-section .hero-heading {
    font-weight: 800;
    font-size: 72px;
    color: #fff;
    line-height: 75px; }
  .hero-section .hero-sub-heading {
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    margin-top: 46px; }

.hero-slider-section .display-table {
  height: 800px;
  display: table;
  width: 100%; }
  .hero-slider-section .display-table .display-table-cell {
    display: table-cell;
    vertical-align: middle; }

.hero-slider-section .single-hero-slider {
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover; }
  .hero-slider-section .single-hero-slider::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }

.hero-slider-section .owl-buttons div {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #3fc6f6;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0.7; }
  .hero-slider-section .owl-buttons div:hover {
    opacity: 1; }

.hero-slider-section .owl-buttons .owl-prev {
  left: 10%; }

.hero-slider-section .owl-buttons .owl-next {
  left: auto;
  right: 10%; }

.about-us-section-dark {
  position: relative;
  width: 100%; }
  .about-us-section-dark::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: 11;
    background-color: #ebebeb;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg); }
  .about-us-section-dark::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: 11;
    background-color: #ebebeb;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    transform: skewY(2deg); }
  .about-us-section-dark .about-title {
    height: 144px;
    position: relative; }
    .about-us-section-dark .about-title .about-button {
      margin-top: 40px; }
    .about-us-section-dark .about-title:before {
      position: absolute;
      height: 100%;
      content: "";
      background: #6a6a6a;
      width: 1px;
      right: -100px; }

.about-us-section {
  position: relative;
  width: 100%; }
  .about-us-section::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: 11;
    background-color: #fff;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg); }
  .about-us-section::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: 11;
    background-color: #fff;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    transform: skewY(2deg); }

.about-title {
  height: 144px;
  position: relative; }
  .about-title .about-button {
    margin-top: 40px; }
  .about-title:before {
    position: absolute;
    height: 100%;
    content: "";
    background: #6a6a6a;
    width: 1px;
    right: -100px; }
  .about-title h2 {
    font-weight: 800;
    font-size: 36px;
    color: #737373;
    margin-top: 0;
    line-height: 42px; }
  .about-title .author-info {
    margin-top: 30px; }
    .about-title .author-info p {
      text-transform: uppercase;
      margin-bottom: 0;
      color: #000; }
    .about-title .author-info .post-tags a {
      text-transform: uppercase; }

.about-quote {
  z-index: 999;
  margin-top: 55px; }
  .about-quote h1 {
    margin-top: 0;
    color: #bcbec0;
    font-weight: 800;
    font-size: 36px;
    font-style: italic;
    line-height: 46px; }

.about-us-text {
  z-index: 999; }
  .about-us-text p {
    font-size: 14px;
    color: #737373;
    line-height: 27px; }
  .about-us-text .post-date {
    letter-spacing: 0.1rem;
    margin-bottom: 20px; }

.about-us-left,
.about-us-right {
  z-index: 22; }

.about-us-left .team-mate {
  margin-top: 200px; }

.social-cta-section {
  background-color: #bcbec0; }
  .social-cta-section .display-table {
    height: 300px;
    display: table;
    width: 100%; }
    .social-cta-section .display-table .display-table-cell {
      display: table-cell;
      vertical-align: middle; }

.social-cta-icons a .fa {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #7b7d80;
  color: #7b7d80;
  margin-right: 10px;
  font-size: 18px; }

.social-cta-icons a:hover .fa {
  color: #3fc6f6;
  border: 2px solid #3fc6f6; }

.features-section {
  position: relative;
  width: 100%; }
  .features-section .display-table {
    height: 400px;
    display: table;
    width: 100%; }
    .features-section .display-table .display-table-cell {
      display: table-cell;
      vertical-align: middle; }
  .features-section h2 {
    font-weight: 800;
    font-size: 30px;
    color: #414042;
    line-height: 36px;
    margin-top: 0; }
  .features-section p {
    margin-top: 20px;
    color: #414042;
    font-size: 14px; }
  .features-section .post-pagination {
    padding-top: 10px; }
    .features-section .post-pagination .pager li a {
      background: none;
      border: 0;
      color: #fff;
      text-transform: uppercase;
      padding: 0; }
      .features-section .post-pagination .pager li a:hover {
        color: #3fc6f6; }

.features-section-1 {
  background-color: #DD5177; }
  .features-section-1::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: 11;
    background-color: #DD5177;
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    transform: skewY(2deg); }

.features-section-2 {
  background-color: #48507c; }
  .features-section-2:before {
    background-color: #48507c;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: 11;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg); }

.features-section-3 {
  background-color: #fff; }
  .features-section-3::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: 11;
    background-color: #fff;
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    transform: skewY(2deg); }

.features-section-4 {
  background-color: #fff; }
  .features-section-4::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: 11;
    background-color: #fff;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg); }

.features-section-5 {
  background-color: #fff; }
  .features-section-5::before {
    background-color: #48507c;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: 11;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg); }
  .features-section-5:after {
    background-color: #48507c;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: 11;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    transform: skewY(2deg); }

.text-white h2 {
  color: #fff !important; }

.text-white p {
  color: #fff !important; }

.footer-top-section {
  background-color: #ebebeb;
  position: relative;
  width: 100%; }
  .footer-top-section::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: 11;
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    transform: skewY(2deg);
    background-color: #ebebeb; }
  .footer-top-section .footer-widget h2 {
    color: #929495;
    font-weight: 700;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 28px; }
  .footer-top-section .footer-widget p {
    color: #a2a4a5; }
  .footer-top-section .social-icon-widget {
    margin: 30px 0; }
    .footer-top-section .social-icon-widget a .fa {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      line-height: 28px;
      text-align: center;
      margin-right: 4px;
      border: 2px solid #7b7d80;
      color: #7b7d80; }
    .footer-top-section .social-icon-widget a:hover .fa {
      color: #3fc6f6;
      border: 2px solid #3fc6f6; }

.footer-bottom-section {
  background-color: #bcbec0;
  position: relative;
  width: 100%; }
  .footer-bottom-section .display-table {
    height: 200px;
    display: table;
    width: 100%; }
    .footer-bottom-section .display-table .display-table-cell {
      display: table-cell;
      vertical-align: middle; }
  .footer-bottom-section::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: 11;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg);
    background-color: #bcbec0; }
  .footer-bottom-section a {
    font-weight: 700;
    color: #ebebeb;
    font-size: 14px; }
  .footer-bottom-section .footer-links a {
    text-transform: capitalize;
    padding: 0 30px; }
    .footer-bottom-section .footer-links a:last-child {
      padding-right: 0; }
    .footer-bottom-section .footer-links a:hover {
      opacity: 0.8; }

.page-title-section .display-table {
  height: 300px;
  display: table;
  width: 100%; }
  .page-title-section .display-table .display-table-cell {
    display: table-cell;
    vertical-align: middle; }

.page-title-section .page-title h1 {
  font-weight: 800;
  font-size: 72px;
  margin: 0; }

.page-title-section .page-title h3 {
  font-weight: 400;
  font-size: 36px; }

.text-dark h1 {
  color: #414042; }

.text-dark h3 {
  color: #737373; }

.page-title-dark-bg {
  background-color: #bcbec0; }

.our-team-section {
  position: relative;
  width: 100%; }
  .our-team-section::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: 11;
    background-color: #fff;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: top right;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg);
    z-index: 1 !important; }

.team-mate {
  text-align: left; }
  .team-mate p {
    color: #a2a4a5; }
  .team-mate .team-mate-info h2 {
    font-weight: 800;
    text-transform: capitalize;
    font-size: 30px;
    color: #a2a4a5; }
  .team-mate .team-mate-info .team-mate-post {
    text-transform: uppercase;
    color: #a2a4a5;
    font-weight: 400;
    font-size: 24px;
    margin-top: 15px; }
  .team-mate .team-mate-social-profiles {
    position: relative;
    margin-top: 25px;
    margin-bottom: 35px; }
    .team-mate .team-mate-social-profiles::before {
      position: absolute;
      content: "";
      top: 48px;
      left: 0;
      width: 130px;
      background-color: #6a6a6a;
      height: 1px; }
    .team-mate .team-mate-social-profiles a .fa {
      width: 35px;
      height: 35px;
      line-height: 32px;
      text-align: center;
      border-radius: 50%;
      border: 2px solid #7b7d80;
      color: #7b7d80;
      margin-right: 2px;
      font-size: 14px; }
    .team-mate .team-mate-social-profiles a:hover .fa {
      color: #3fc6f6;
      border: 2px solid #3fc6f6; }

.blog-pagination-section {
  position: relative;
  width: 100%;
  padding-bottom: 50px; }
  .blog-pagination-section .display-table {
    height: 100px;
    display: table;
    width: 100%; }
    .blog-pagination-section .display-table .display-table-cell {
      display: table-cell;
      vertical-align: middle; }
  .blog-pagination-section::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: 11;
    background-color: #fff;
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    transform: skewY(2deg); }
  .blog-pagination-section .blog-pagination .pager {
    margin: 0; }
    .blog-pagination-section .blog-pagination .pager li a {
      background: none;
      border: none;
      padding: 0;
      color: #414042;
      font-size: 16px; }
      .blog-pagination-section .blog-pagination .pager li a:hover {
        color: #3fc6f6; }

.testimonial-section {
  position: relative;
  width: 100%; }
  .testimonial-section .display-table {
    height: 450px;
    display: table;
    width: 100%; }
    .testimonial-section .display-table .display-table-cell {
      display: table-cell;
      vertical-align: middle; }
  .testimonial-section:before {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: 11;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg); }

.single-testimonial {
  position: relative;
  width: 100%; }
  .single-testimonial::before {
    position: absolute;
    content: "";
    font-family: 'fontawesome';
    width: 100%;
    height: 100%;
    color: #a2a4a5;
    top: -15px;
    left: -78px;
    font-size: 48px; }
  .single-testimonial::after {
    position: absolute;
    content: "";
    font-family: 'fontawesome';
    width: 100%;
    height: 100%;
    color: #a2a4a5;
    top: -15px;
    left: -78px;
    font-size: 48px; }
  .single-testimonial .testimonial-image {
    padding-right: 25px; }
  .single-testimonial .testimonial-content p {
    color: #a2a4a5; }
  .single-testimonial .client-info {
    margin-top: 30px; }
    .single-testimonial .client-info h2 {
      font-weight: 700;
      font-size: 18px;
      text-transform: capitalize;
      color: #a2a4a5;
      margin-bottom: 5px; }
    .single-testimonial .client-info span {
      color: #a2a4a5;
      font-size: 14px; }

.video-section .display-table {
  height: 600px;
  display: table;
  width: 100%; }
  .video-section .display-table .display-table-cell {
    display: table-cell;
    vertical-align: middle; }

.video-section .display-table {
  padding-top: 80px; }

.video-section .section-title h2 {
  color: #a2a4a5; }

.video-section .video-text p {
  color: #a2a4a5; }

.video-section .display-table-cell {
  background-image: url(../images/video-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.video-section .video-wrapper a .fa {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  line-height: 150px;
  border-radius: 50%;
  font-size: 68px;
  color: #000; }

.video-section .video-wrapper a:hover .fa {
  opacity: 0.7; }
