// Color Preset
@import "presets";

a{
	color: $preset;
	&:hover{
		color: $preset-dark;
	}
}


// Button Styles
.btn-common {
    background: $preset;
    &:hover , &:focus {
    	background: $preset-dark !important;
    }
}
