
//  Global Styles
@import 'partials/_global.scss';

// Logo
.logo  {
    margin: 22px 0;
    padding: 10px 15px;
    height: auto;
    transition: $transition;
	h2 {
		font-size: 16px;
	    font-weight: 500;
	    text-transform: uppercase;
	    color: #333;
	    margin: 0;
	    font-family: $body-font;
	    letter-spacing: 1px;
	}
	&:hover {
		transition: $transition;
	}
	&:hover h2 span {
		transition: $transition;
	}
}

// Menu
.navbar-custom {
	margin-bottom: 0;
	@include menu-box-shadow;
	.navbar-nav {
		margin-top: 20px;
		li {
		    margin-right: 30px;
		    &:last-child {
		    	margin-right: 0;
		    }
			a {
			    background: none;
			    padding: 10px 1px;
			    text-transform: uppercase;
			    font-weight: 500;
			    color: #333;
			    border-bottom: 3px solid transparent;
			}
		}
	}
}

// Hero Area
.hero-area {
	.hero-text {
		h1 {
			font-size: 64px;
		    margin-top: 0;
		    text-transform: lowercase;
		}
		p {
		    font-weight: 400;
		    font-size: 16px;
		    letter-spacing: 0.1rem;
		    line-height: 22px;
		    margin-top: 20px;
		}
		.btn {
			margin-top: 40px;
			margin-right: 10px;
		}
	}
	.hero-image {
		.hero-carousel {
			img {
				height: 360px;
			}
		}
	}
}

// About Us
.aboutus-section {
    .aboutus-text {
        h2 {
            font-size: 40px;
            letter-spacing: 0.1rem;
            color: #333;
            margin-bottom: 24px;
        }
        p {
            font-size: 15px;
            line-height: 30px;
        }
        .btn {
            margin-top: 40px;
        }
    }
}


// Carousel Section

  .product-carousel {
      .item {
          margin: 10px;
      }
      .owl-nav {
          margin-top: 15px;
      }
      .owl-nav [class*=owl-] {
          font-size: 22px;
          padding: 5px 33px;
          margin: 0 15px;
          background: #333;
      }
}  


.single-carousel {
    background: darken(#F3F5FA , 5%);
    @include team-box-shadow;
    transition: $transition;
    &:hover {
        @include team-box-shadow-hover;
        cursor: pointer
    }
    .carousel-text {
        background: #fff;
        padding: 10px 25px;
        position: relative;
        .price {
            position: absolute;
            right: 15px;
            top: -28px;
            letter-spacing: 1px;
            width: 45px;
            height: 45px;
            line-height: 45px;
            border-radius: 50%;
            color: #fff;
            font-size: 12px;
            @include icon-shadow;
        }
        h2 {
            color: #333;
            font-size: 19px;
            margin-top: 8px;
            margin-bottom: 5px;
        }
        p {
            color: #666;
            font-size: 12px;
        }
        .btn {
            border: none;
            border-radius: 0;
        }
    }
}


// Services
.single-service {
    :hover {
        cursor: pointer;
        }
    .media-left {
        padding-right: 20px;
        .fa {
            font-size: 20px;
            width: 60px;
            text-align: center;
            height: 60px;
            line-height: 60px;
            color: #3D424F;
            border-radius: 50%;
        }
    }
    .media-body {
        h2 {
            margin-top: 0;
            color: #333;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
        }
    }
}


// Footer Section

.footer-section {
    background: #212530;
    .footer-widget {
        h2 {
          color: #fff;
          font-size: 20px;
          letter-spacing: 0.1rem;
          text-transform: uppercase;
          margin-bottom: 26px;
        }
        p{
            color: #ccc;
        }
        ul {
            padding-left: 0;
            li {
                list-style: none;
                a {
                    .fa {
                        padding-right: 5px;
                    }
                    color: #ccc;
                    font-size: 15px;
                    line-height: 30px;
                    letter-spacing: 0.1rem;
                    font-weight: 400;
                    transition: $transition;
                    &:hover {
                        color: darken(#ccc , 20%);
                    }
                }
            }
        }
        .social-icons {
            a {
                .fa {
                  color: #fff;
                  width: 35px;
                  height: 35px;
                  border-radius: 50%;
                  line-height: 35px;
                  text-align: center;
                  border: 1px solid #fff;
                  font-size: 10px;
                  margin-right: 10px;
                  transition: $transition;
                    &:hover {
                        border: 1px solid transparent;
                        transition: $transition;
                    }
                }
            }
        }
    }
}


// Page title Section
.page-title-setion.jumbotron {
    margin-bottom: 0;
    padding: 30px 0;
    background-image: url(../images/pagetitle-bg.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
    &:before {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: "";
        opacity: 0.9;
        z-index: -1;
    }
    .page-title {
        h2 {
            color: #fff;
            opacity: 1 !important;
            margin: 0;
        }
    }
}


// Section Layout
.section-text {
    h2 {
        color: #333;
        font-size: 34px;
        margin: 25px 0; 
    }
    h2:nth-child(1) {
        margin-top: 0;
    }
    h3 {
        color: #333;
        margin: 22px 0;
    }
    img {
        width: 328px;
        height: 328px;
        margin: 20px 0;
    }
    ul {
        margin-top: 15px;
        padding-left: 15px;
        li {
            font-size: 15px;
            letter-spacing: 1px;
            line-height: 25px;
            font-weight: 500;
            .fa {
                padding-right: 5px;
            }
        }
    }
}

.section-image {
    margin-bottom: 40px;
}

// Contact Section
.contact-section {
    .section-text {
        h2 {
            margin-bottom: 10px;
        }
    }
    #contactForm {
        margin-top: 60px;
    }
    .form-control {
      background: transparent;
      border: 1px solid #ddd;
      height: 50px;
      margin-bottom: 20px;
      padding: 10px 20px;
      width: 100%;
      color: #161616;
      outline: none;
      border-radius: 2px;
      font-size: 12px;
      box-shadow: none;
        &:focus {
          box-shadow: none;
          outline: none; 
        }
    }
    textarea.form-control {
      height: 100px;
      max-height: 120px;
      resize: none;
      margin-bottom: 40px;
      overflow: hidden; 
    }
    #contactForm .success, #contactForm .error {
      display: none;
      text-align: center;
      margin-bottom: 20px;
      padding: 20px; 
    }
}

// Sidebar
.single-sidebar {
    margin-bottom: 50px;
    &:first-child h2 {
        margin-top: 0;
    }
    h2 {
        color: #333;
        font-size: 25px;
        margin-bottom: 15px;
    }
    p {
        line-height: 20px;
        .fa {
            font-size: 15px;
            padding-right: 5px;
        }
        b {
            margin-right: 10px;
        }
    }
}


// Product section
.product-section {
    .single-carousel {
        margin: 30px 0
    }
}



 

