@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .navbar-nav li a {
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 12px;
    background: none;
    letter-spacing: 0; } }

@media only screen and (max-width: 767px) {
  .header-area .logo img {
    width: 48px !important; }
  .header-area .navbar-custom .navbar-toggle {
    margin-top: 17px; }
  .header-area .navbar-custom .navbar-nav {
    background: #fff;
    text-align: center; }
    .header-area .navbar-custom .navbar-nav li:last-child {
      margin-left: 0; } }
