/* Medium Layout: 1280px. */
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .logo {
    margin: 20px 0; }
    .header-area .logo h2 img {
      width: 45px; }
    .header-area .logo h2 span {
      font-size: 18px; }
  .header-area .navbar-custom .navbar-nav {
    margin-top: 20px; }
    .header-area .navbar-custom .navbar-nav li {
      margin-right: 14px; }
      .header-area .navbar-custom .navbar-nav li a {
        padding: 10px 0;
        font-size: 10px; }
  .hero-section .hero-text h1 {
    font-size: 29px;
    line-height: 40px; }
  .about-text {
    margin-top: 0; }
  .section-title {
    font-size: 24px; }
  .single-feature {
    margin-top: 0; }
    .single-feature:nth-child(2), .single-feature:nth-child(4) {
      margin-top: 0; }
    .single-feature i {
      font-size: 35px;
      margin-top: 8px; }
    .single-feature h2 {
      margin-top: 8px;
      font-size: 14px; }
    .single-feature p {
      font-size: 11px; }
  .download-section .download-text h2 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 0; }
  .download-section .right-mob-front {
    width: 270px; }
  .download-section .right-mob-back {
    width: 250px; } }

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
  .header-area .logo {
    margin: 20px 0; }
    .header-area .logo h2 img {
      width: 42px; }
    .header-area .logo h2 span {
      font-size: 18px; }
  .header-area .navbar-toggle {
    margin-top: 28px; }
  .navbar-default.affix-top .navbar-nav {
    background: #333;
    z-index: 99999999; }
    .navbar-default.affix-top .navbar-nav li {
      margin-right: 0;
      border-bottom: 1px solid #1a1919; }
      .navbar-default.affix-top .navbar-nav li:last-child {
        border-bottom: none; }
      .navbar-default.affix-top .navbar-nav li.active a {
        border-bottom: 0px; }
      .navbar-default.affix-top .navbar-nav li a {
        text-align: center;
        border-bottom: none;
        font-size: 12px;
        padding: 11px; }
        .navbar-default.affix-top .navbar-nav li a:hover {
          border-bottom: 0px !important; }
  .navbar-default.affix .navbar-nav {
    background: #fff; }
    .navbar-default.affix .navbar-nav li {
      margin-right: 0;
      border-bottom: 1px solid #e6e5e5; }
      .navbar-default.affix .navbar-nav li:last-child {
        border-bottom: none; }
      .navbar-default.affix .navbar-nav li.active a {
        border-bottom: 0px !important; }
      .navbar-default.affix .navbar-nav li a {
        text-align: center;
        border-bottom: none;
        font-size: 12px !important;
        padding: 11px !important; }
        .navbar-default.affix .navbar-nav li a:hover {
          border-bottom: 0px !important; }
  .hero-section .display-table {
    margin-top: 50px; }
  .hero-section .hero-text {
    text-align: center;
    margin-top: 0px; }
    .hero-section .hero-text h1 {
      font-size: 28px;
      line-height: 35px; }
    .hero-section .hero-text p {
      margin-top: 20px; }
    .hero-section .hero-text a img {
      margin-top: 10px; }
  .hero-section .hero-image {
    text-align: center;
    margin-top: 30px; }
    .hero-section .hero-image img {
      height: 300px; }
  .section-padding {
    padding: 40px 0; }
  .about-text {
    margin-top: 20px;
    text-align: center; }
    .about-text h2 {
      font-size: 19px; }
    .about-text p {
      font-size: 14px; }
  .about-image {
    margin-top: 50px; }
    .about-image img {
      height: 270px; }
  .section-title {
    font-size: 24px; }
  .single-feature {
    text-align: center;
    margin-top: 0; }
    .single-feature:nth-child(2), .single-feature:nth-child(4) {
      margin-top: 0; }
    .single-feature i {
      font-size: 35px;
      margin-top: 8px; }
    .single-feature h2 {
      margin-top: 8px;
      font-size: 14px; }
    .single-feature p {
      font-size: 11px; }
  .single-feature-image {
    margin: 20px 0; }
    .single-feature-image img {
      height: 300px; }
  .download-section {
    padding: 20px 0px; }
    .download-section .phones {
      display: none; }
    .download-section .download-text {
      text-align: center; }
      .download-section .download-text h2 {
        font-size: 20px;
        line-height: 36px; }
  .subscription .form-group input {
    width: 300px; } }

/* Wide Mobile Layout: 480px. */
