.footer-top-section {
    background-color: #ebebeb;
    .footer-widget {
        h2 {
            color: #929495;
            font-weight: 700;
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 28px;
        }
        p {
            color: #a2a4a5;
        }
    }
    .social-icon-widget {
        margin: 30px 0;
        a {
            .fa {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                line-height: 28px;
                text-align: center;
                margin-right: 4px;
                border: 2px solid #7b7d80;
                color: #7b7d80;
            }
            &:hover .fa {
                color: #3fc6f6;
                border: 2px solid #3fc6f6;
            }
        }
    }
}

.footer-bottom-section {
    background-color: #bcbec0;
    a {
        font-weight: 700;
        color: #ebebeb;
        font-size: 14px;
    }
    .footer-links a {
        text-transform: capitalize;
        padding: 0 30px;
        &:last-child {
            padding-right: 0;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}