.social-cta-section {
    background-color: #bcbec0;
}
.social-cta-icons {
    a {
        .fa {
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            border-radius: 50%;
            border: 2px solid #7b7d80;
            color: #7b7d80;
            margin-right: 10px;
            font-size: 18px;
        }
        &:hover .fa {
            color: #3fc6f6;
            border: 2px solid #3fc6f6;
        }
    }
}