.pace .pace-progress {background: #1F4493;}
.bigIcon,.socialList li a:hover{color: #1F4493;}
.btn-new,.downloadNumber{background: #1F4493}
.btn-new:hover,.btn-new:focus{background: #1F4493}
#share{background-color: #1F4493;}
